/**************
** APP COLORS
**************/

$standardText: #333;
$standardTextActive: #999;
$linkGreen: green;
$linkGreenHover: #57af85;
$successGreen: #2db708;
$highlightAqua: #006060;
$backgroundGrey: #F9F9F9;
$promptTan: rgb(229, 196, 149);
